<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheep_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{38,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>sheep_walk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63ee78d85650fcffe2f728652c47a294$</string>
            <key>textureFileName</key>
            <string>sheep.png</string>
        </dict>
    </dict>
</plist>
