<?xml version="1.0" encoding="UTF-8"?>  
<plist version="1.0">  
<dict>  
	<key>story_1</key>
	<string>        千百年来，人类都生活在安逸的'和平'之中，虽然偶尔有一些内部利益争夺的流血冲突。
        直到主神再次将视线移向这个被遗忘的世界，那一天，人类终于回想起，曾经一度被主神支配的恐怖，还有那被囚禁于鸟笼中的那份耻辱。
        对于家畜般地笼中屈辱的拒绝和始终向往自由的愿望，凝结成蓝白双色的“自由之翼”。怎怨那本能，变成无法言说的苟延残喘。</string> 
	<key>story_2</key>
	<string>'宇宙深处苟延残喘的生物早已蠢蠢欲动，失去了灵魂的文明却依旧迷失在虚空的洪流中。神赐予人类自由意志，人类却用来考验神的耐性'
                ——虚空主神的1号事务文书·扉页</string>  
</dict>  
</plist> 