<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chicken_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{89,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,78}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>chicken_walk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,78}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chicken.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18bc3db857ec6b42c230cdd8f6a5760b$</string>
            <key>textureFileName</key>
            <string>chicken.png</string>
        </dict>
    </dict>
</plist>
